{% if certbot_dns_provider == 'google' %}
{{ certbot_dns_credentials | to_nice_json }}
{% else %}
{{ ansible_managed | comment }}
{% for k, v in certbot_dns_credentials.items() %}
{{ k }} = {{ v }}
{% endfor %}
{% endif %}
